/* COMMON*/
img {display: block;}
a {text-decoration: none;}
.inner {
  width: 1100px;
  margin: 0 auto;
  position: relative;
}

/* Typography */
body{
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4; /* 22.4px */
  font-family: 'Nanum Gothic', sans-serif;
  height: 3000px;
}


/* HEADER */
header {
  background-color: #f6f5f0;
  border-bottom: 1px solid #c8c8c8;
  position: fixed; 
  width: 100%;
  /* position: fixed는 block이지만 최소한으로 공간을 차지하기 때문에 콘텐츠만하게 바뀐다.
  그래서 width 값을 별도로 설정하여 원하는 크기를 별도로 설정해야한다. */
  top: 0;
}
header > .inner {
  height: 120px;
}
header .logo {
  height: 75px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  /* top/bottom에 딱 붙는 걸 조건으로 상자의 최대 넓이를 설정하고(하지만 height값이 있어 늘어나지는 않음) margin: auto를 통해 (최대 넓이 - 이미지크기)/2 만큼의 공백이 자동으로 top/bottom에 설정됨 */
}
header .sub-menu {
  display: flex;
  position: absolute;
  top: 10px;
  right: 0;

}
header .sub-menu ul.menu {
  display: flex;
  font-family: Arial, sans-serif;
}
header .sub-menu ul.menu li {
  position: relative;
}
header .sub-menu ul.menu  li + li::before {
  content: ""; /*콘텐츠 값 필수*/
  width: 1px;
  height: 12px;
  background-color: #000;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
}
header .sub-menu ul.menu li a {
  display: block;
  padding: 11px 16px;
  color: #656565;
}
header .sub-menu ul.menu li a:hover {
  color: #000;
}
header .sub-menu .search{
  height: 34px;
  position: relative;
}
header .sub-menu .search input{
  width: 36px;
  height: 34px;
  padding: 4px 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none; /* 보더 외의 다른 개념/찾아보기 */
  background-color: #fff;
  color: #777;
  font-size: 12px;
  transition: width .4s;
}
header .sub-menu .search input:focus{
  width: 190px;
  border-color: #690;
}
header .sub-menu .search .material-icons{
  height: 24px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 5px;
  margin: auto;
  transition: .4s;
}
header .sub-menu .search.focused .material-icons{
  /* input에 focus됐을 때의 icon변화 설정 */
  opacity: 0; 
}
header .main-menu{
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  display: flex;
}
header .main-menu .item{

}
header .main-menu .item .item__name{
  padding: 10px 20px 34px 20px;
  font-family: Arial, sans-serif;
  font-size: 13px;
}
header .main-menu .item:hover .item__name{
  /* hover효과를 __name과 __contents에 모두 적용하기 위해 .item에 적용*/
  background-color: #2c2a29;
  color: #669900;
  border-radius: 6px 6px 0 0;
}
header .main-menu .item .item__contents{
  display: none;
  width: 100%;
  position: fixed;
  left: 0;
  /* top이나 bottom값을 주면 현재 위치가 아닌 부모(=뷰포트) 기준으로 움직이게 됨 */
}
header .main-menu .item:hover .item__contents{
  display: block;
}
header .main-menu .item .item__contents .contents__menu{
  background-color: #2c2a29;
  left: 0;;
}
header .main-menu .item .item__contents .contents__menu > ul{
  display: flex;
  padding: 20px 0;
}
header .main-menu .item .item__contents .contents__menu > ul > li{
  width: 220px;
}
header .main-menu .item .item__contents .contents__menu > ul > li > h4{
  padding: 3px 0 12px 0;
  color: #fff;
  font-size: 14px;
}
header .main-menu .item .item__contents .contents__menu > ul > li > ul > li{
  padding: 5px 0;
  font-size: 12px;
  color: #999;
  cursor: pointer; /* 마우스 커서 종류 변경 */
}
header .main-menu .item .item__contents .contents__menu > ul > li > ul > li:hover{
  color: #669900;
}
header .main-menu .item .item__contents .contents__texture{
  padding: 26px 0;
  font-size: 12px;
  background-image: url("../images/main_menu_pattern.jpg");
}
header .main-menu .item .item__contents .contents__texture h4{
  color: #999;
  font-weight: 700;
}
header .main-menu .item .item__contents .contents__texture p{
  color: #669900;
  margin: 4px 0 14px;
}
header .badges {
  position: absolute;
  top: 132px;
  right: 12px;
}
header .badges .badge{
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 12px;
  box-shadow: 4px 4px 10px rgba(0,0,0,.15);
  cursor: pointer;
}
